body {
  /* Блочная модель */
  min-width: 1200px;
  margin: 0 auto;
  padding:0;
  /* Типографика */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  /* Оформление */
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  /* Типографика */
  text-decoration: none;
}

.visually-hidden {
  /* Позиционирование */
  position: absolute;
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  /* Оформление */
  border: 0;
  /*  Разное */
  clip: rect(0 0 0 0);
}

.modal input,
.modal textarea {
  /* Блочная модель */
  height: 45px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  /* Типографика */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  /* Оформление */
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  outline: none;
}

.modal input:hover,
.modal textarea:hover {
  /* Оформление */
  border-color: rgba(154, 154, 154, 0.5);
}

.modal input:focus,
.modal textarea:focus {
  /* Оформление */
  border-color: rgba(46, 136, 228, 0.5);
}

::placeholder {
  /* Типографика */
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.white-underline {
  /* Типографика */
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.red-underline:hover,
.red-underline:hover h3 {
  /* Типографика */
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3)
}

.btn {
  /* Блочная модель */
  display: inline-block;
  padding: 12px 24px;
  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  /* Оформление */
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
  /* Оформление */
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  /* Оформление */
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper {
  min-width: 1200px;
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  /* Анимация */
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  /* Позиционирование */
  content: "";
  /* Оформление */
  visibility: hidden;
}

.site-wrapper::before {
  /* Оформление */
  background-image: url("../img/ice-cream-2.png");
}

.site-wrapper::after {
  /* Оформление */
  background-image: url("../img/ice-cream-3.png");
}

.main-header {
  /* Блочная модель */
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 13px;
  padding-top: 9px;
}

.main-navigation {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  /* Блочная модель */
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.site-navigation {
  /* Блочная модель */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 0 30px;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.user-navigation {
  /* Блочная модель */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.popup-position {
  position: relative;
}

.site-navigation a,
.user-navigation > li > a {
  /* Блочная модель */
  display: block;
  padding: 10px 15px;
  /* Типографика */
  color: #ffffff;
  /* Оформление */
  border-radius: 50px;
}

.user-navigation > li {
  margin-right: 10px;
}

.user-navigation > li:last-child {
  margin: 0;
}

.user-navigation > li > a {
  /* Типографика */
  font-weight: 500;
  /* Оформление */
  background-color: rgba(255, 255, 255, 0.3);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #f8f7f4;
}

.site-navigation a:active {
  /* Оформление */
  box-shadow: inset 0 3px 5px -1px #696969; /* времянка */
}

.site-navigation-dropdown a:active {
  box-shadow: none;
}

.site-navigation > li:not(:last-child) {
  position: relative;
  margin-right: 10px;
}

.site-navigation .site-navigation-dropdown {
  /* Позиционирование */
  position: absolute;
  top: 45px;
  left: -10px;
  z-index: 1;
  /* Блочная модель */
  width: 150px;
  margin: 0;
  padding: 0;
  /* Типографика */
  list-style: none;
  /* Оформление */
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  /* Анимация */
  transition: all 0.5s ease;
}

.site-navigation-dropdown a {
  /* Блочная модель */
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  /* Типографика */
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  /* Оформление */
  border-radius: 0;
}

.site-navigation-dropdown .dropdown-title {
  position: relative;
  /* Блочная модель */
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 0;
  /* Типографика */
  font-weight: 700;
}

.site-navigation-dropdown .dropdown-title::before {
  content: "";
  position: absolute;
  top: 41px;
  left: 10px;
  width: 128px;
  height: 1px;
  /* Оформление */
  background-image: url("../img/devide.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation > li:hover .site-navigation-dropdown {
  /* Оформление */
  visibility: visible;
  opacity: 1;
}

.site-navigation-dropdown a:hover:not(.dropdown-title),
.site-navigation-dropdown a:focus:not(.dropdown-title) {
  /* Оформление */
  background-color: #fbded7;
}

.site-navigation-dropdown li .dropdown-current:hover,
.site-navigation-dropdown li .dropdown-current:focus {
  background-color: #d07058;
}

.site-navigation-dropdown li:first-child a:hover,
.site-navigation-dropdown li:first-child a:focus {
  /* Оформление */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.site-navigation-dropdown li:last-child a:hover,
.site-navigation-dropdown li:last-child a:focus {
  /* Оформление */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.site-navigation-dropdown a:active:not(.dropdown-title):not(.dropdown-current) {
  /* Оформление */
  background-color: #f6b5a5;
}

.user-navigation .search-link {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  width: 37px;
  height: 37px;
  padding: 0;
}

.modal-search {
  /* Позиционирование */
  position: absolute;
  top: 45px;
  left: -315px;
  z-index: 1;
  /* Оформление */
  visibility: hidden;
  opacity: 0;
  /* Анимация */
  transition: all 0.3s ease;
}

.search-form {
  /* Блочная модель */
  width: 341px;
  padding: 20px 5px;
  /* Типографика */
  text-align: center;
  /* Оформление */
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
}

.search-form input {
  /* Блочная модель */
  width: 311px;
  height: 44px;
  /* Оформление */
  border-radius: 5px;
}

.user-navigation .login-link,
.user-navigation .basket-link,
.user-navigation .basket-link-empty {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  padding-left: 50px;
}

.modal-login {
  /* Позиционирование */
  position: absolute;
  top: 45px;
  left: -175px;
  /* Оформление */
  visibility: hidden;
  opacity: 0;
  /* Анимация */
  transition: all 0.3s ease;
  z-index: 1;
}

.login-form {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  width: 277px;
  height: 214px;
  padding: 0;
  padding-top: 1px;
  /* Оформление */
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
}

.login-form input {
  /* Блочная модель */
 width: 235px;
 height: 44px;
 margin-left: 14px;
 /* Оформление */
 border-radius: 5px;
}

.login-password-info {
  /* Блочная модель */
  display: block;
  margin: 0;
  margin-left: 120px;
  padding: 8px 14px;
  /* Типографика */
}

.login-password-info a {
  /* Блочная модель */
  margin-top: 25px;
  /* Типографика */
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration-line: underline;
  text-decoration-color: #adacaa;
}

.login-form .btn {
  /* Позиционирование */
  position: absolute;
  bottom: 20px;
  left: 14px;
}

.login-password-info a:hover,
.login-password-info a:focus {
  /* Типографика */
  color: #e84d37;
  text-decoration-line: underline;
  text-decoration-color: #facdc5;
}

.modal-basket {
/* Позиционирование */
  position: absolute;
  top: 45px;
  left: -400px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 0 0 540px;
  /* Блочная модель */
  max-width: 540px;
  height: 242px;
  padding: 6px 5px;
  /* Оформление */
  background-color: #f8f7f4;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  /* Анимация */
  transition: all 0.3s ease;
}

.basket-list {
  /* Блочная модель */
  width: 520px;
  margin: 10px auto;
  padding: 0;
  /* Типографика */
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.basket-item {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 20px;
  /* Типографика */
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket-item::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 16px;
  left: 10px;
  /* Блочная модель */
  width: 23px;
  height: 23px;
  /* Оформление */
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  position: 0 0;
}

.basket-item:first-child {
  /* Блочная модель */
  margin-bottom: 10px;
}

.basket-item .basket-title {
  /* Блочная модель */
  flex: 0 0 216px;
  max-width: 216px;
}

.basket-item span {
  /* Типографика */
  color: #a4a4a4;
}

.basket-item-price {
  /* Блочная модель */
  margin-right: 25px;
  margin-left: 25px;
}

.basket-item img {
  /* Блочная модель */
  margin-top: 5px;
  margin-right: 20px;
}

.basket-list-price {
  /* Блочная модель */
  margin: 0;
  padding: 0;
  /* Типографика */
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.modal-basket .basket-list-price,
.modal-basket .btn {
  /* Блочная модель */
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.modal-basket .btn {
  /* Блочная модель */
  margin-top: 20px;
}

.search-link::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  /* Блочная модель */
  width: 21px;
  height: 20px;
  /* Оформление */
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 8px;
  left: 18px;
  /* Блочная модель */
  width: 21px;
  height: 20px;
  /* Оформление */
  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link-empty::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 8px;
  left: 18px;
  /* Блочная модель */
  width: 21px;
  height: 20px;
  /* Оформление */
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 8px;
  left: 18px;
  /* Блочная модель */
  width: 21px;
  height: 20px;
  /* Оформление */
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-link:hover::before,
.search-link:focus::before,
.search-link:active::before {
  /* Оформление */
  background-image: url("../img/loupe-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popup-position:hover .modal-search {
  /* Оформление */
  visibility: visible;
  opacity: 1;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  /* Оформление */
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popup-position:hover .modal-login {
  /* Оформление */
  visibility: visible;
  opacity: 1;
}

.basket-link:hover::before,
.basket-link:focus::before,
.basket-link:active::before {
  /* Оформление */
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link-empty:hover::before,
.basket-link-empty:focus::before,
.basket-link-empty:active::before {
  /* Оформление */
  background-image: url("../img/basket-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popup-position:hover .modal-basket {
  /* Оформление */
  visibility: visible;
  opacity: 1;
}

.meta-header {
  /* Типографика */
  text-align: right;
}

.meta-header-time {
  /* Типографика */
  font-size: 14px;
  line-height: 16px;
}

.meta-header-phone {
  /* Типографика */
  font-size: 22px;
  line-height: 24px;
}

.slider {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  margin-bottom: 40px;
  padding-top: 270px;
  /* Типографика */
  text-align: center;
  color: #ffffff;
}

.slider-controls {
  /* Позиционирование */
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  /* Типографика */
  font-size: 0;
}

.slider-controls label {
  /* Блочная модель */
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  /* Типографика */
  vertical-align: top;
  /* Оформление */
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
}

/* Оформление */
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-2.png");
}

#product-3:checked ~ .site-wrapper {
  /* Оформление */
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-3.png");
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
  /* Блочная модель */
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  /* Оформление */
  background-color: #ffffff;
}

.slider-controls label[for="product-1"]:hover,
.slider-controls label[for="product-2"]:hover,
.slider-controls label[for="product-3"]:hover {
  /* Оформление */
  background-color: rgba(255, 255, 255, 0.3)
}

.slider-list {
  /* Блочная модель */
  margin: 0;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.slide {
  display: none;
}

.slider h3 {
  /* Блочная модель */
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  /* Типографика */
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  /* Блочная модель */
  padding: 12px 44px;
  /* Типографика */
  font-size: 32px;
  line-height: 44px;
}

.promo {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 14px;
}

.promo-item {
  /* Блочная модель */
  flex: 0 0 560px;
  max-width: 560px;
  height: 229px;
  margin-bottom: 26px;
  /* Оформление */
  border-radius: 15px;
}

.promo-item h3 {
  margin: 0;
  padding: 23px 10px 10px 20px;
  /* Типографика */
  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  /* Блочная модель */
  width: 520px;
  margin: 0;
  padding: 10px 10px 10px 20px;;
  /* Типографика */
  font-size: 18px;
  line-height: 22px;
}

.promo-item p:last-child {
  /* Типографика */
  text-align: right;
}

.promo-item .btn {
  /* Блочная модель */
  margin-top: 10px;
}

.raspberry-item {
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/raspberries.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.chocolate-item {
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/chocolate.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog-list {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.catalog-item {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 267;
  max-width: 267px;
  max-height: 408px;
  margin-bottom: -40px;
  padding: 10px 8px;
  /* Типографика */
  text-align: center;
}

.catalog-item:hover {
  /* Позиционирование */
  z-index: 1;
  /* Оформление */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.catalog-item:hover .btn {
  /* Позиционирование */
  z-index: 1;
  /* Оформление */
  visibility: visible;
  opacity: 1;
}

.catalog-item a:not(.btn) {
  /* Типографика */
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.item-order {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  display: flex;
  flex-direction: column;
}

.item-hit::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  /* Блочная модель */
  width: 61px;
  height: 61px;
  /* Оформление */
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-order h3 {
  /* Блочная модель */
  order: 1;
}

.catalog-item h3 {
  /* Блочная модель */
  margin: 5px 0;
  padding: 0;
}

.catalog-item-price {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  width: 200px;
  align-self: flex-start;
}

.catalog-item-price b {
  /* Позиционирование */
  position: absolute;
  bottom: 100px;
  left: 0;
  /* Типографика */
  font-size: 45px;
  line-height: 13px;
}

.catalog-item-price span {
  /* Позиционирование */
  position: absolute;
  bottom: 95px;
  left: 125px;
  /* Типографика */
  font-size: 30px;
  line-height: 13px;
  text-decoration: none;
}

.catalog-item .btn {
  /* Блочная модель */
  margin-top: -25px;
  /* Оформление */
  visibility: hidden;
  opacity: 0;
}

.features {
  /* Блочная модель */
  width: 1146px;
  height: 306px;
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/waffle-big.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.features-title {
  width: 1113px;
  margin: 0;
  padding: 29px 0 26px 21px;
  /* Типографика */
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  /* Блочная модель */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.feature-item {
  /* Блочная модель */
  flex: 0 0 475px;
  max-width: 475px;
  margin-bottom: 28px;
  margin-left: 77px;
  /* Типографика */
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.feature-icon-first,
.feature-icon-second,
.feature-icon-third,
.feature-icon-fourth {
  /* Позиционирование */
  position: relative;
}

.feature-icon-first::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: -15px;
  left: -55px;
  /* Блочная модель */
  width: 49px;
  height: 49px;
  /* Оформление */
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-second::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: -15px;
  left: -55px;
  /* Блочная модель */
  width: 49px;
  height: 49px;
  /* Оформление */
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-third::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: -15px;
  left: -55px;
  /* Блочная модель */
  width: 49px;
  height: 49px;
  /* Оформление */
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-fourth::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: -15px;
  left: -55px;
  /* Блочная модель */
  width: 49px;
  height: 49px;
  /* Оформление */
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
}

.preview {
  /* Блочная модель */
  flex: 0 0 560px;
  max-width: 560px;
  height: 220px;
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/strawberry.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Оформление */
  border-radius: 15px;
}

.preview-title {
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  /* Типографика */
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.preview p {
  /* Блочная модель */
  width: 285px;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0;
}

.preview a {
  /* Типографика */
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration-line: underline;
  text-decoration-color: #323232;
}

.preview a:hover,
.preview a:focus {
  /* Типографика */
  color: #e84d37;
  text-decoration-line: underline;
  text-decoration-color: #facdc5;
}

.modal-subscribe {
  /* Блочная модель */
  flex: 0 0 560px;
  max-width: 560px;
  height: 220px;
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/post.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.modal-subscribe p {
  /* Блочная модель */
  width: 506px;
  margin: 0;
  margin-left: 21px;
  margin-bottom: 38px;
  padding: 0;
  /* Типографика */
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe-form {
  /* Блочная модель */
  margin-left: 20px;
}

.subscribe-form input {
  /* Блочная модель */
  width: 368px;
}

.subscribe-form .btn {
  /* Блочная модель */
  margin-left: 5px;
  margin-bottom: 0;
}

.preview,
.modal-subscribe {
  /* Блочная модель */
  margin-bottom: 40px;
}

.modal-map {
  /* Позиционирование */
  position: relative;
}

.modal-map::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  bottom: 155px;
  left: 260px;
  /* Блочная модель */
  width: 80px;
  height: 140px;
  /* Оформление */
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-map img {
  /* Блочная модель */
  width: 1200px;
  margin-left: calc(-600px + 50%);
}

.modal-map-columns {
  /* Позиционирование */
  position: absolute;
  top: 63px;
  right: 0;
  /* Блочная модель */
  box-sizing: border-box;
  width: 305px;
  height: 308px;
  padding-top: 15px;
  padding-left: 20px;
  /* Оформление */
  background-color: #fefefe;
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.modal-map-columns .btn {
  /* Блочная модель */
  margin: 0;
  margin-left: 10px;
}

.modal-map-contacts {
  /* Блочная модель */
  margin-bottom: 25px;
  /* Типографика */
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.modal-map-columns p:first-child {
  /* Блочная модель */
  margin-bottom: 20px;
}

.modal-map-contacts span {
  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.site-navigation-current {
  /* Оформление */
  background-color: #d07058;
}

.site-navigation-dropdown .dropdown-current {
  /* Оформление */
  background-color: #d07058;
}

.page-title {
  /* Блочная модель */
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  /* Типографика */
  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs-menu {
  /* Блочная модель */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
}

.breadcrumbs {
  /* Блочная модель */
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  /* Типографика */
  list-style: none;
}

.breadcrumbs li {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  margin-right: 35px;
}

.breadcrumbs li:last-child {
  /* Блочная модель */
  margin-right: 0;
}

.breadcrumbs a,
.breadcrumbs-current  {
  /* Типографика */
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs li::after {
  /* Позиционирование */
  content: "»";
  position: absolute;
  right: -20px;
  /* Блочная модель */
  width: 8px;
  height: 8px;
}

.filters {
  /* Блочная модель */
  margin-bottom: 30px;
}

.filter {
  /* Блочная модель */
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  flex: 0 0 870px;
  max-width: 870px;
}

.filter fieldset {
  /* Оформление */
  border: none;
  margin: 0;
  margin-top: 10px;
  margin-right: 14px;
  padding: 0;
}

.filter fieldset:nth-child(3) {
  margin-right: 0;
}

.filter legend {
  /* Блочная модель */
  margin-bottom: 10px;
  margin-left: 15px;
  /* Типографика */
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter ul {
  /* Блочная модель */
  margin: 0;
  padding: 0;
  padding-right: 15px;
  /* Типографика */
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
}
.filter-style {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  box-sizing: border-box;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid transparent;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  /* Типографика */
  color: #ffffff;
}

.filter-option {
  display: inline-block;
  margin-left: 45px;
  padding-top: 8px;
}

.filter-option label {
  /* Позиционирование */
  position: relative;
  display: block;
  /* Оформление */
  cursor: pointer;
  /* Разное */
  user-select: none;
}

.sorting {
  /* Блочная модель */
  width: 196px;
  padding-left: 15px;
  /* Оформление */
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 165px 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.sorting:hover,
.sorting:focus {
  /* Типографика */
  color: #000000;
  /* Оформление */
  background-color: #ffffff;
  background-image: url("../img/icon-down-dir-black.svg");
  background-repeat: no-repeat;
  background-position: 165px 13px;
}

.range-control .filter-option {
  margin: 0;
}

.range-control {
  /* Позиционирование */
  position: relative;
}

.range-control .scale {
  /* Блочная модель */
  width: 176px;
  height: 4px;
  margin-top: 6px;
  margin-right: 22px;
  margin-left: 22px;
  /* Оформление */
  background: rgba(255, 255, 255, 0.3);
}

.range-control .bar {
  /* Блочная модель */
  width: 60%;
  height: 4px;
  margin-left: 20px;
  /* Оформление */
  background: #ffffff;
}

.range-toggle {
  /* Позиционирование */
  position: absolute;
  top: 6px;
  /* Блочная модель */
  width: 20px;
  height: 20px;
  /* Оформление */
  background-image: url("../img/filter-button.svg");
}

.range-toggle-min {
  /* Позиционирование */
  left: 35px;
  /* Оформление */
  cursor: pointer;
}

.range-toggle-max {
  /* Позиционирование */
  right: 65px;
  /* Оформление */
  cursor: pointer;
}

.filter-input-radio + label::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: -3px;
  left: -30px;
  /* Блочная модель */
  width: 25px;
  height: 25px;
  /* Оформление */
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  position: 0 0;
  opacity: 0.7;
}

.filter-input-radio:checked + label::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: -3px;
  left: -30px;
  /* Блочная модель */
  width: 25px;
  height: 25px;
  /* Оформление */
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  position: 0 0;
}

.filter-input-checkbox + label::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  /* Блочная модель */
  width: 23px;
  height: 23px;
  /* Оформление */
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  position: 0 0;
  opacity: 0.7
}

.filter-input-checkbox:checked + label::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  /* Блочная модель */
  width: 23px;
  height: 23px;
  /* Оформление */
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  position: 0 0;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.2;
}

.filter-btn {
  /* Блочная модель */
  box-sizing: border-box;
  width: 144px;
  height: 37px;
  margin-top: auto;
  margin-right: 2px;
  margin-left: auto;
  /* Типографика */
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  /* Оформление */
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.filter-btn:hover,
.filter-btn:focus {
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #ffffff;
}

.filter-btn:active,
.filter-btn:active {
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #ffffff; /* будет градиент, пока так */
  border: none;
  box-shadow: inset 0 3px 5px -1px #696969; /* времянка */
}

.pagination-list {
  /* Блочная модель */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 6px;
  /* Типографика */
  list-style: none;
}

.pagination-list li:not(:first-child) {
  /* Блочная модель */
  margin-left: 10px;
}

.pagination-item a {
  display: block;
  margin: 0;
  padding: 8px 11px 6px 11px;
  /* Типографика */
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 50%;
}

.pagination-item:not(.pagination-left):not(.pagination-right) a:hover,
.pagination-item:not(.pagination-left):not(.pagination-right) a:focus {
  /* Типографика */
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-current a,
.pagination-item:not(.pagination-left):not(.pagination-right) a:active {
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #ffffff;
}

.pagination-left a {
  /* Оформление */
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  position: relative;
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px; /* Временно */
  padding-bottom: 10px; /* Временно */
  /* Типографика */
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.footer-catalog {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  /* Блочная модель */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* Блочная модель */
  flex: 0 0 188px;
  max-width: 188px;
  margin: 0;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.social-btn {
  /* Блочная модель */
  width: 32px;
  height: 32px;
  /* Типографика */
  color: #ffffff;
}

.social-btn path {
  fill-opacity: 0.7;
}

.social-btn:hover path,
.social-btn:focus path {
  fill-opacity: 1;
}

.social-btn:active path {
  fill-opacity: 0.5;
}

.footer-info {
  /* Блочная модель */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 0 0 355px;
  max-width: 355px;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.footer-info li {
  /* Блочная модель */
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 5px;
}

.footer-info a {
  /* Типографика */
  color: #ffffff;
  font-weight: 400;
}

.footer-item-bold::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 24px;
  left: 388px;
  /* Блочная модель */
  width: 15px;
  height: 13px;
  /* Оформление */
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-item-bold a {
  /* Типографика */
  font-weight: 700;
}

.footer-copyright {
  /* Блочная модель */
  align-self: flex-end;
  flex: 0 0 219px;
  max-width: 219px;
  margin: 0;
  margin-bottom: 15px;
  /* Типографика */
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: end;
}

.footer-copyright a {
  /* Типографика */
  color: #ffffff;
}

.icon-link::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 10px;
  right: 108px;
  /* Блочная модель */
  width: 108px;
  height: 39px;
  /* Оформление */
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-feedback {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  width: 478px;
  height: 443px;
  padding: 6px 4px;
  /* Оформление */
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
}

.feedback-form {
  /* Позиционирование */
  position: relative;
}

.feedback-form input {
  /* Блочная модель */
 width: 241px;
 height: 44px;
 margin-left: 16px;
 /* Оформление */
 border-radius: 5px;
}

.feedback-form textarea {
  /* Блочная модель */
  width: 435px;
  height: 160px;
  margin-left: 16px;
  padding-top: 5px;
}

.modal-feedback-title {
  margin-left: 16px;
  /* Типографика */
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form .btn {
  /* Позиционирование */
  content: "";
  position: absolute;
  bottom: -60px;
  right: 10px;
}

.modal-close {
  /* Оформление */
  background-color: transparent;
  border: none;
}

.modal-close::before {
  /* Позиционирование */
  content: "";
  position: absolute;
  top: 16px;
  right: 10px;
  /* Блочная модель */
  width: 23px;
  height: 23px;
  /* Оформление */
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  position: 0 0;
}
