body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.modal input,
.modal textarea {
  height: 44px;
  margin: 0;
  padding: 0;
  padding-left: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  outline: none;
}

.modal input:hover,
.modal textarea:hover {
  border-color: rgba(154, 154, 154, 0.5);
}

.modal input:focus,
.modal textarea:focus {
  border-color: rgba(46, 136, 228, 0.5);
}

.white-underline {
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.red-underline:hover,
.red-underline:hover h3 {
  color: #ffbc9e;

  -webkit-text-decoration-color: rgba(255, 188, 158, 0.3);
          text-decoration-color: rgba(255, 188, 158, 0.3);
}

.btn {
  display: inline-block;
  padding: 12px 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #f26843;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image:    linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:    linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:    linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper {
  min-width: 1200px;

  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
       -o-transition: background-image 0.5s ease, background-color 0.5s ease;
          transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/ice-cream-2.png");
}

.site-wrapper::after {
  background-image: url("../img/ice-cream-3.png");
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 12px;
  padding-top: 9px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.site-navigation {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 600px;
  margin: 14px auto 8px 10px;
  padding: 0;

  list-style: none;
}

.site-navigation-current {
  background-color: #d07058;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 8px;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
}

.popup-position {
  position: relative;
}

.site-navigation a {
  display: block;
  padding: 7px 14px;

  color: #ffffff;

  border-radius: 50px;
}

.user-navigation > li > a {
  display: block;
  margin-bottom: 5px;
  padding: 7px 0;
  padding-right: 17px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.user-navigation > li {
  margin-left: 10px;
}

.user-navigation > li > .basket-link {
  color: #323232;

  background-color: #f8f7f4;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.site-navigation a:active {
  -webkit-box-shadow: inset 0 3px 5px -1px #696969;
          box-shadow: inset 0 3px 5px -1px #696969;
  /* времянка */
}

.site-navigation-dropdown a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.site-navigation .site-navigation-dropdown {
  position: absolute;
  top: 37px;
  left: -7px;
  z-index: 1;

  width: 143px;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.site-navigation-dropdown a {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #323232;
  text-decoration: none;

  border-radius: 0;
}

.site-navigation-dropdown .dropdown-title {
  margin-right: 9px;
  margin-left: 6px;
  padding: 11px 14px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.site-navigation > li:hover .site-navigation-dropdown {
  visibility: visible;
  opacity: 1;
}

.site-navigation-dropdown a:hover,
.site-navigation-dropdown a:focus {
  background-color: #fbded7;
}

.site-navigation-dropdown a:active {
  background-color: #f6b5a5;
}

.site-navigation-dropdown li .dropdown-current {
  background-color: #d07058;
}

.user-navigation .search-link {
  position: relative;

  width: 32px;
  height: 32px;
  padding: 0;
}

.modal-search {
  position: absolute;
  top: 36px;
  left: -310px;
  z-index: 1;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.search-form {
  width: 331px;
  padding: 20px 5px;

  text-align: center;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
}

.search-form input {
  width: 296px;
  height: 42px;

  font-size: 14px;

  border-radius: 5px;
}

.user-navigation .login-link,
.user-navigation .basket-link,
.user-navigation .basket-link-empty {
  position: relative;

  padding-left: 44px;
}

.modal-login {
  position: absolute;
  top: 36px;
  left: -184px;
  z-index: 1;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.login-form {
  position: relative;

  width: 277px;
  height: 213px;
  padding: 0;
  padding-top: 1px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
}

.login-form input {
  width: 226px;
  height: 42px;
  margin-top: 5px;
  margin-left: 19px;

  font-size: 14px;

  border-radius: 5px;
}

.login-password-info {
  display: block;
  margin: 0;
  margin-left: 139px;
  padding: 0;
  padding-top: 6px;
}

.login-password-info a {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #323232;

  -webkit-text-decoration-color: #adacaa;
          text-decoration-color: #adacaa;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.login-form .btn {
  position: absolute;
  bottom: 23px;
  left: 20px;

  padding: 10px 24px;

  border-radius: 19px;
}

.login-password-info a:hover,
.login-password-info a:focus {
  color: #e84d37;

  -webkit-text-decoration-color: #facdc5;
          text-decoration-color: #facdc5;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal-basket {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 0 530px;
  -webkit-box-flex: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 530px;
  height: 230px;
  padding: 6px 5px;

  background-color: #f8f7f4;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

  -ms-flex: 0 0 530px;
}

.basket-list {
  width: 520px;
  margin: 10px auto;
  padding: 0;

  list-style: none;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.basket-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 24px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 6px;

  width: 23px;
  height: 23px;

  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
}

.basket-item:first-child {
  margin-bottom: 10px;
}

.basket-item:last-child {
  margin-bottom: 4px;
}

.basket-item .basket-title {
      flex: 0 0 216px;
  -webkit-box-flex: 0;
  max-width: 216px;

  -ms-flex: 0 0 216px;
}

.basket-item span {
  color: #a4a4a4;
}

.basket-item-price {
  margin-right: 28px;
  margin-left: 31px;
}

.basket-item img {
  margin-top: 5px;
  margin-right: 12px;
}

.basket-list-price {
  margin: 0;
  padding: 0 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.modal-basket .basket-list-price,
.modal-basket .btn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 3px;
  margin-right: 9px;
}

.modal-basket .btn {
  margin-top: 14px;
  padding: 10px 15px;
}

.search-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;

  width: 21px;
  height: 20px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link-empty::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-link:hover::before,
.search-link:focus::before,
.search-link:active::before {
  background-image: url("../img/loupe-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popup-position:hover .modal-search {
  visibility: visible;
  opacity: 1;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popup-position:hover .modal-login {
  visibility: visible;
  opacity: 1;
}

.basket-link-empty:hover::before,
.basket-link-empty:focus::before,
.basket-link-empty:active::before {
  background-image: url("../img/basket-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popup-position:hover .modal-basket {
  visibility: visible;
  opacity: 1;
}

.meta-header {
  margin-bottom: 1px;

  text-align: right;
}

.meta-header-time {
  font-size: 14px;
  line-height: 18px;
}

.meta-header-phone {
  margin-top: 5px;

  font-size: 22px;
  line-height: 28px;
}

.slider {
  position: relative;

  margin-bottom: 40px;
  padding-top: 262px;

  text-align: center;
  color: #ffffff;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-3.png");
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slider-controls label[for="product-1"]:hover,
.slider-controls label[for="product-2"]:hover,
.slider-controls label[for="product-3"]:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slider h3 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  padding: 10px 41px;

  font-size: 32px;
  line-height: 44px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 5px;
}

.promo-item {
      flex: 0 0 560px;
  -webkit-box-flex: 0;
  max-width: 560px;
  min-height: 229px;
  margin: 0;
  margin-bottom: 26px;

  border-radius: 15px;

  -ms-flex: 0 0 560px;
}

.promo-item h3 {
  margin: 0;
  padding: 17px 10px 4px 19px;

  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  width: 520px;
  margin: 0;
  padding: 10px 10px 23px 20px;

  font-size: 18px;
  line-height: 22px;
  ;
}

.promo-item p:last-child {
  text-align: right;
}

.promo-item .btn {
  margin-top: 10px;
}

.raspberry-item {
  margin-right: 26px; /* especially for IE11 */

  background-color: #849d8f;
  background-image: url("../img/raspberries.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.chocolate-item {
  background-color: #849d8f;
  background-image: url("../img/chocolate.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog-border {
  margin-bottom: 4px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 -13px;
  margin-bottom: 8px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 0 267px;
  -webkit-box-flex: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 267px;
  max-height: 408px;
  margin-bottom: -46px;
  padding: 8px 13px;

  text-align: center;

  -ms-flex: 0 0 267;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.catalog-item:hover .btn {
  z-index: 1;

  visibility: visible;
  opacity: 1;
}

.catalog-item a:not(.btn) {
  width: 267px; /* especially for IE11 */

  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.item-order {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.item-hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-order h3 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.catalog-item h3 {
  margin: 13px 5px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item-price {
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 200px;
}

.catalog-item-price b {
  position: absolute;
  bottom: 162px;
  left: 12px;

  font-size: 45px;
  line-height: 13px;
}

.catalog-item-price .price-ruble {
  bottom: 162px;
  left: 94px;
}

.catalog-item-price span {
  position: absolute;
  bottom: 158px;
  left: 125px;

  font-size: 30px;
  line-height: 13px;
  text-decoration: none;
}

.catalog-item .btn {
  margin-top: -38px;
  margin-bottom: 17px;
  padding: 10px 17px;

  visibility: hidden;
  opacity: 0;
}

.features {
  width: 1146px;
  min-height: 306px;

  color: #323232;

  background-color: #849d8f;
  background-image: url("../img/waffle-big.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.features-title {
  width: 1113px;
  margin: 0;
  padding: 25px 0 21px 21px;

  font-size: 24px;
  line-height: 30px;
  word-spacing: 1px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list li:nth-child(even) {
  margin-left: 90px;
}

.feature-item {
      flex: 0 0 476px;
  -webkit-box-flex: 0;
  max-width: 476px;
  margin-bottom: 22px;
  margin-left: 77px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  -ms-flex: 0 0 476px;
}

.feature-icon-first,
.feature-icon-second,
.feature-icon-third,
.feature-icon-fourth {
  position: relative;
}

.feature-icon-first::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -57px;

  width: 49px;
  height: 49px;

  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-second::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -58px;

  width: 49px;
  height: 49px;

  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-third::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -57px;

  width: 49px;
  height: 49px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-fourth::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -58px;

  width: 49px;
  height: 49px;

  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 40px;
}

.preview {
      flex: 0 0 560px;
  -webkit-box-flex: 0;
  max-width: 560px;
  min-height: 220px;

  color: #323232;

  background-color: #849d8f;
  background-image: url("../img/strawberry.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;

  -ms-flex: 0 0 560px;
}

.preview-title {
  margin: 0;
  margin-top: 23px;
  margin-right: 20px;
  margin-left: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.preview p {
  width: 285px;
  margin: 0;
  margin-top: 4px;
  margin-left: 20px;
  padding: 0;
}

.preview a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;

  -webkit-text-decoration-color: #323232;
          text-decoration-color: #323232;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.preview a:hover,
.preview a:focus {
  color: #e84d37;

  -webkit-text-decoration-color: #facdc5;
          text-decoration-color: #facdc5;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal-subscribe {
      flex: 0 0 560px;
  -webkit-box-flex: 0;
  max-width: 560px;
  min-height: 220px;

  background-color: #849d8f;
  background-image: url("../img/post.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 15px;

  -ms-flex: 0 0 560px;
}

.modal-subscribe p {
  width: 506px;
  margin: 8px 0;
  padding: 26px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form {
  margin-left: 20px;
}

.subscribe-form input {
  width: 353px;
  margin-left: 6px;
}

.subscribe-form .btn {
  margin-left: 8px;
  padding: 11px 19px;
}

.preview,
.modal-subscribe {
  margin-bottom: 40px;
}

.modal-map {
  position: relative;

  width: 1200px;
  height: 430px;
  margin-bottom: 4px;
  margin-left: calc(-600px + 50%);

  background-color: transparent;
}

.modal-map::before {
  content: "";
  position: absolute;
  top: 137px;
  left: 266px;

  width: 80px;
  height: 140px;

  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-map iframe {
  position: absolute;

  margin-left: calc(-600px + 50%);

  border: none;
}

.modal-map img {
  width: 1200px;
  margin-left: calc(-600px + 50%);
}

.modal-map-columns {
  position: absolute;
  top: 61px;
  right: 27px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 302px;
  min-height: 305px;
  padding-top: 13px;
  padding-left: 26px;

  background-color: #fefefe;
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.modal-map-contacts {
  margin: 0;
  margin-top: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.modal-map-columns p:first-child {
  margin-bottom: 16px;
}

.modal-map-contacts span {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #323232;
}

.modal-map-columns .btn {
  margin: 0;
  margin-top: 27px;
  padding: 10px 27px;
}

.page-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: -39px;
  margin-bottom: -15px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 20px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  right: -16px;

  width: 8px;
  height: 8px;
}

.filters {
  margin-bottom: 34px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 0 870px;
  -webkit-box-flex: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 870px;

  -ms-flex: 0 0 870px;
}

.filter fieldset {
  margin: 0;
  margin-top: 12px;
  margin-right: 14px;
  padding: 0;

  border: none;
}

.filter fieldset:nth-child(3) {
  margin-right: 0;
}

.filter legend {
  margin-bottom: 7px;
  margin-left: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter ul {
  margin: 0;
  padding: 0;
  padding-right: 15px;

  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-style {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 36px;
  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid transparent;
  border-radius: 25px;
}

.checkbox-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 702px;
}

.filter-option {
  display: inline-block;
  margin-left: 45px;
  padding-top: 8px;

  vertical-align: top;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sorting {
  width: 194px;
  padding-left: 15px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 165px 12px;

  -webkit-appearance: none;
     -moz-appearance: none;
}

.sorting:hover,
.sorting:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-down-dir-black.svg");
  background-repeat: no-repeat;
  background-position: 165px 13px;
}

.range-control .filter-option {
  margin: 0;
}

.range-control {
  position: relative;
}

.range-control .scale {
  width: 176px;
  height: 4px;
  margin-top: 6px;
  margin-right: 18px;
  margin-left: 22px;

  background: rgba(255, 255, 255, 0.3);
}

.range-control .bar {
  width: 60%;
  height: 4px;
  margin-left: 20px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 6px;

  width: 20px;
  height: 20px;

  background-image: url("../img/filter-button.svg");
}

.range-toggle-min {
  left: 33px;

  cursor: pointer;
}

.range-toggle-max {
  right: 65px;

  cursor: pointer;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -33px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -33px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.2;
}

.filter-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 144px;
  height: 36px;
  margin-top: auto;
  margin-right: 10px;
  margin-left: auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-btn:active,
.filter-btn:active {
  color: #323232;

  background-color: #ffffff;
  /* будет градиент, пока так */
  border: none;
  -webkit-box-shadow: inset 0 3px 5px -1px #696969;
          box-shadow: inset 0 3px 5px -1px #696969;
  /* времянка */
}

.pagination-position {
  margin-top: 51px;
  margin-bottom: -5px;
}

.pagination-list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 0 148px;
  -webkit-box-flex: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 148px;
  margin: 0;
  margin-right: 21px;
  margin-bottom: 34px;
  margin-left: auto;
  padding: 0;

  list-style: none;

  -ms-flex: 0 0 148px;
}

.pagination-item a {
  display: block;
  margin: 0;
  padding: 4px 8px 4px 9px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-radius: 50%;
}

.pagination-left::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -21px;

  width: 8px;
  height: 16px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-right::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 161px;

  width: 8px;
  height: 16px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.4;
}

.pagination-item:not(.pagination-left):not(.pagination-right) a:hover,
.pagination-item:not(.pagination-left):not(.pagination-right) a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-current a,
.pagination-item:not(.pagination-left):not(.pagination-right) a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-left a {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 17px;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 0 188px;
  -webkit-box-flex: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 200px;
  margin: 0;
  margin-top: 14px;
  padding: 0;

  list-style: none;

  -ms-flex: 0 0 188px;
}

.footer-social li:not(:nth-child(4n)) {
  margin-right: 11px;
}

.social-btn {
  width: 32px;
  height: 32px;

  color: #ffffff;
}

.social-btn path {
  fill-opacity: 0.7;
}

.social-btn:hover path,
.social-btn:focus path {
  fill-opacity: 1;
}

.social-btn:active path {
  fill-opacity: 0.5;
}

.footer-info {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 0 355px;
  -webkit-box-flex: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 355px;
  margin-left: 10px;
  padding: 0;

  list-style: none;

  -ms-flex: 0 0 355px;
}

.footer-info li {
      flex: 0 0 50%;
  -webkit-box-flex: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 50%;
  margin-bottom: 5px;

  -ms-flex: 0 0 50%;
}

.footer-info li:nth-child(odd) {
  padding-left: 38px;
}

.footer-info a {
  font-weight: 400;
  color: #ffffff;
}

.footer-info::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 15px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-item-bold a {
  font-weight: 700;
}

.footer-copyright {
      flex: 0 0 219px;
  -webkit-box-flex: 0;
  width: 219px;
  margin: 0;
  margin-top: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: end;

  -ms-flex: 0 0 219px;
}

.footer-copyright a {
  color: #ffffff;
}

.icon-link::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 107px;

  width: 108px;
  height: 39px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 50%;
  z-index: 10;

  display: none;
  width: 469px;
  height: 430px;
  margin-left: -237px;
  padding: 6px 4px;

  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.show-overlay {
  display: block;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback-form {
  position: relative;

  margin-left: 20px;
}

.feedback-form input {
  width: 252px;
  height: 42px;
  margin-bottom: 4px;

  border-radius: 5px;
}

.feedback-form textarea {
  width: 413px;
  height: 146px;
  padding-top: 7px;
}

.modal-feedback-title {
  margin: 0;
  margin-left: 19px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 5px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form .btn {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -65px;

  padding: 10px 24px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 11px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: center;
}
