body {
  /* Блочная модель */
  margin: 0;
  padding:0;
  /* Типографика */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/main-background-1");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.visually-hidden {
  /* Позиционирование */
  position: absolute;
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  /* Оформление */
  border: 0;
  /*  Разное */
  clip: rect(0 0 0 0);
}

a {
  /* Типографика */
  text-decoration: none;
}

.white-underline a {
  /* Типографика */
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.red-underline a:hover {
  /* Типографика */
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3)
}

.modal input,
.modal textarea {
  /* Типографика */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  /* Оформление */
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(178, 178, 178, 0.5);
  outline: none;
}

.modal input:hover,
.modal textarea:hover {
  /* Оформление */
  border-width: 2px;
  border-style: solid;
  border-color: rgba(154, 154, 154, 0.5);
}

.modal input:focus,
.modal textarea:focus {
  /* Оформление */
  border-width: 2px;
  border-style: solid;
  border-color: rgba(46, 136, 228, 0.5);
}

.btn {
  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  /* Оформление */
  background-color: #ed5a3d; /* будет градиент, пока так */
  border: none;
  box-shadow: 0 2px 5px -1px #a44434; /* времянка */
}

.main-btn {
  /* Типографика */
  font-size: 32px;
  line-height: 44px;
}

.filter-btn {
  /* Блочная модель */
  box-sizing: border-box;
  width: 144px;
  height: 37px;
  margin-top: 30px;
  margin-left: 25px;
  /* Типографика */
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  /* Оформление */
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.btn:hover,
.btn:focus {
  /* Типографика */
  color: #fefefe;
  /* Оформление */
  background-color: #f17d64; /* будет градиент, пока так */
  box-shadow: 0 3px 5px -1px #b11909; /* времянка */
}

.btn:active {
  /* Типографика */
  color: #fceeec;
  /* Оформление */
  background-color: #ed5a3d; /* будет градиент, пока так */
  box-shadow: inset 0 3px 5px -1px #99291a; /* времянка */
}

.filter-btn:hover,
.filter-btn:focus {
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #ffffff;
}

.filter-btn:active,
.filter-btn:active {
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #ffffff; /* будет градиент, пока так */
  border: none;
  box-shadow: inset 0 3px 5px -1px #696969; /* времянка */
}

.main-header {
  margin-top: 9px;
  margin-bottom: 13px;
}

.main-navigation {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  /* Типографика */
  font: inherit;
}

.container {
  /* Блочная модель */
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  /* Типографика */
  font: inherit;
}

.site-navigation {
  /* Блочная модель */
  width: 394px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  /* Блочная модель */
  width: 245px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.site-navigation,
.site-navigation-dropdown,
.user-navigation {
  /* Типографика */
  list-style: none;
}

.site-navigation-current {
  background-color: #d07058;
}

.site-navigation a,
.user-navigation a {
  /* Типографика */
  color: #ffffff;
}

.user-navigation a {
  /* Типографика */
  font-weight: 500;
  /* Оформление */
  background-color: rgba(255, 255, 255, 0.3);
}

.site-navigation-dropdown a {
  /* Типографика */
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.site-navigation-dropdown li:first-child a {
  /* Типографика */
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #f8f7f4;
}

.site-navigation a:active,
.user-navigation a:active {
  /* Оформление */
  box-shadow: inset 0 3px 5px -1px #696969; /* времянка */
}

.meta-header {
  /* Типографика */
  font: inherit;
  text-align: right;
}

.meta-header-time {
  /* Типографика */
  font-size: 14px;
  line-height: 16px;
}

.meta-header-phone {
  /* Типографика */
  font-size: 22px;
  line-height: 24px;
}

.carousel-list {
  /* Типографика */
  list-style: none;
}

.carousel p {
  margin: 0; /* Временно */
  padding: 0; /* Временно */
  /* Типографика */
  font-size: 60px;
  line-height: 60px;
}

.promo {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
}

.promo-item {
  /* Блочная модель */
  width: 560px;
  height: 229px;
}

.promo-item h3 {
  /* Типографика */
  font-size: 35px;
  line-height: 41px;
}

.promo-item p {
  /* Типографика */
  font-size: 18px;
  line-height: 22px;
}

.raspberry-item {
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/raspberries.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.chocolate-item {
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/chocolate.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-list {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.catalog-list li:hover {
  /* Оформление */
  background-color: #a9b9b0;
  border-radius: 5px;
}

.catalog-item {
  /* Блочная модель */
  width: 267px;
  margin-top: 26px;
}

.catalog-item:nth-child(-n+4) {
  /* Блочная модель */
  margin-top: 0;
}

.catalog-item a {
  /* Типографика */
  font-size: 14px; /* 16px: 14px - это временное решение*/
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item-price b {
  /* Типографика */
  font-size: 45px;
  line-height: 13px;
}

.catalog-item-price span {
  /* Типографика */
  font-size: 30px;
  line-height: 13px;
  text-decoration: none;
}

.features {
  /* Блочная модель */
  width: 1146px;
  height: 306px;
  margin-top: 40px;
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/waffle-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list {
  /* Блочная модель */
  display: flex;
  margin: 0;
  padding: 0;
  /* Типографика */
  list-style: none;
}

.features-title {
  /* Типографика */
  font-size: 24px;
  line-height: 30px;
}

.feature-item {
  /* Блочная модель */
  width: 475px;
  /* Типографика */
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.first-column {
  /* Блочная модель */
  margin-left: 77px;
}

.second-column {
  /* Блочная модель */
  margin-left: 91px;
}

.main-info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.preview {
  /* Блочная модель */
  width: 560px;
  height: 220px;
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/strawberry.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.preview-title {
  /* Типографика */
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.preview a {
  /* Типографика */
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration-line: underline;
  text-decoration-color: #323232;
}

.preview a:hover,
.preview a:focus {
  /* Типографика */
  color: #e84d37;
  text-decoration-line: underline;
  text-decoration-color: #facdc5;
}

.modal-subscribe {
  /* Блочная модель */
  width: 560px;
  height: 220px;
  /* Оформление */
  background-color: #849d8f;
  background-image: url("../img/post.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-subscribe p {
  /* Типографика */
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.modal-map {
  /* Блочная модель */
  margin-top: 40px;
}

.modal-map img {
  /* Блочная модель */
  width: 1200px;
  margin-left: calc(-600px + 50%);
}

.modal-map-columns {
  /* Блочная модель */
  box-sizing: border-box;
  width: 305px;
  height: 308px;
  padding-top: 10px;
  padding-left: 20px;
  /* Оформление */
  background-color: #fefefe;
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.modal-map-contacts {
  /* Типографика */
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.modal-map-contacts span {
  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.page-title {
  /* Типографика */
  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs-menu {
  /* Блочная модель */
  display: flex;
  flex-direction: column-reverse;
}

.page-title {
  /* Блочная модель */
  width: 381px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.breadcrumbs {
  /* Блочная модель */
  display: inline-flex;
  width: 220px;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  /* Типографика */
  list-style: none;
}

.breadcrumbs li:not(:first-child) {
  margin-left: 10px;
}

.breadcrumbs a,
.breadcrumbs-current  {
  /* Типографика */
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.filter fieldset {
  /* Оформление */
  border: none;
  margin-top: 10px;
}

.filter legend {
  /* Типографика */
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter ul {
  /* Типографика */
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
}

.filter-option {
  display: inline-block;
}

.first-filter select:hover,
.first-filter select:focus {
  /* Оформление */
  color: #000000;
}

.first-filter {
  /* Блочная модель */
  width: 194px;
}

.second-filter {
  /* Блочная модель */
  width: 220px;
  box-sizing: border-box;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid transparent;
  border-radius: 25px;
}

.third-filter {
  /* Блочная модель */
  box-sizing: border-box;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid transparent;
  border-radius: 25px;
  width: 415px;
  margin: 0;
  padding: 0;
}

.fourth-filter {
  /* Блочная модель */
  box-sizing: border-box;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid transparent;
  border-radius: 25px;
  width: 703px;
  margin: 0;
  padding: 0;
}

select {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  box-sizing: border-box;
  width: 194px;
  height: 37px;
  /* Типографика */
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  /* Оформление */
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid transparent;
  border-radius: 25px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* select:after {
  / Позиционирование /
  content: "";
  position: absolute;
  top: px;
  right: px;
  / Блочная модель /
  display: block;
  width: px;
  height: px;
  / Оформление /
  background-image: url("img");
}
*/

.pagination-position {
  text-align: right;
}

.pagination-list {
  /* Блочная модель */
  box-sizing: border-box;
  display: inline-flex;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 6px;
  /* Типографика */
  list-style: none;
}

.pagination-list li:not(:first-child) {
  /* Блочная модель */
  margin-left: 10px;
}

.pagination-item a {
  /* Типографика */
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.pagination-item:not(.pagination-left):not(.pagination-right) a:hover,
.pagination-item:not(.pagination-left):not(.pagination-right) a:focus {
  /* Типографика */
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-current {
  /* Типографика */
  color: #323232;
  /* Оформление */
  background-color: #ffffff;
}

.pagination-left a {
  /* Оформление */
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  padding-top: 10px; /* Временно */
  padding-bottom: 10px; /* Временно */
  /* Типографика */
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.footer-social {
  /* Блочная модель */
  width: 188px;
  margin: 0;
  /* Типографика */
  list-style: none;
}

.social-btn {
  /* Типографика */
  color: #ffffff;
}

.footer-info {
  /* Блочная модель */
  width: 355px;
  /* Типографика */
  list-style: none;
}

.footer-info a {
  /* Типографика */
  color: #ffffff;
  font-weight: 400;
}

.footer-item-bold a {
  /* Типографика */
  font-weight: 700;
}

.footer-copyright {
  /* Блочная модель */
  width: 219px;
  margin: 0;
  /* Типографика */
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.footer-copyright a {
  /* Типографика */
  color: #ffffff;
}

.modal:not(.modal-subscribe) {
  /* Оформление */
  background-color: #f8f7f4;
  background-repeat: repeat;
 }

::placeholder {
  /* Типографика */
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.login-password-info a {
  /* Типографика */
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration-line: underline;
  text-decoration-color: #adacaa;
}

.login-password-info a:hover,
.login-password-info a:focus {
  /* Типографика */
  color: #e84d37;
  text-decoration-line: underline;
  text-decoration-color: #facdc5;
}

.modal-feedback-title {
  /* Типографика */
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.basket-list {
  /* Типографика */
  list-style: none;
}

.basket-item {
  /* Типографика */
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket-item a {
  /* Типографика */
  color: #323232;
}

.basket-item span {
  /* Типографика */
  color: #a4a4a4;
}

.basket-list-price {
  /* Типографика */
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}


/* СЕТКА */








.pagination-list {
  box-sizing: border-box;
  display: inline-flex;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 6px;

  list-style: none;

  /* Временно для сетки */
  min-height: 26px;
}

.pagination-list li:not(:first-child) {
  margin-left: 10px;
}

.pagination-position {
  text-align: right;
}
